/* .movies {
    display : flex;
    flex-wrap: wrap;
} */

.list {
  display: block;
  font-size: 60px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
